* {  
   margin: 0;  
   padding: 0;  
   box-sizing: border-box;
  }  
  
footer {
position: relative;
background-color: #027b9a;
width: 100%;
margin-top:5%;
bottom: 0;
}

 .pCopryright  {
	margin-top:2%;
	text-align:center;
	color:white;
}

#menu-company {
	/*Evita i punti */
	list-style: none;
}

#menu-company a{
	color:white;
	text-decoration: none;
}

#menu-company a:hover{
	color:red;
}


.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 15px;
	margin-top:2%;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
